# ===========================
# Backend
# ===========================
/backend/src/main/resources/application.properties
/backend/src/main/resources/data/profanity/
/backend/src/test/resources/application.properties
/backend/HELP.md
/backend/target/
!.mvn/wrapper/
!.mvn/wrapper/**

# ===========================
# Frontend
# ===========================
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
/frontend/logs
/frontend/npm-debug.log*
/frontend/dist-ssr

# ===========================
# General
# ===========================
docker-compose.yaml
*.env
*.log
*.local

# ===========================
# IntelliJ IDEA
# ===========================
.idea
*.iws
*.iml
*.ipr

