
:root {
    --bg-color: #f7f7f7;
    --text-color: #000;
    --card-bg: #fff;
    --button-bg: #007bff;
    --logout-bg: #dc3545;
}

:root.dark {
    --bg-color: #121212;
    --text-color: #f1f1f1;
    --card-bg: #1e1e1e;
    --button-bg: #3399ff;
    --logout-bg: #ff4d4d;
}

.desktop-layout {
    display: block;
}

.mobile-layout {
    display: none;
}

/* dynamically determine layout depending on device viewport width */
@media (max-width: 768px) {
    .desktop-layout {
        display: none;
    }

    .mobile-layout {
        display: block;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: var(--bg-color);
    color: var(--text-color);
    margin: 2rem;
}

header {
    background: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button, a.button-link {
    margin: 10px 0;
    padding: 10px 15px;
    background: var(--button-bg);
    color: blue;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button-link:hover {
    background-color: #45a049;
}

.logout {
    background: var(--logout-bg);
}

.theme-toggle {
    margin-left: 20px;
    background: #666;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

form {
    max-width: 400px;
    margin: auto;
}

label, input, button {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
}

