<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="base :: sharedHead"></th:block>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/lobby-modal-style.css}">
</head>
<body>
<header>
    <div class="username-info">
        Welcome, <span th:text="${user.username}">User</span> | Score: <span th:text="${user.score.totalScore}">0</span> | Rank: <span th:text="${userRank}">#0</span>
    </div>
    <div>
        <button class="theme-toggle" onclick="toggleTheme()">Toggle Theme</button>
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button class="logout">Logout</button>
        </form>
    </div>
</header>

<div id="mainContentWrapper">
    <div class="main-content">
        <!-- Leaderboard Pane -->
        <div class="leaderboard">
            <h3>Top 5 Players</h3>
            <ol>
                <li th:each="player : ${topPlayers}">
                    <span th:text="${player.username}">Name</span>: <span th:text="${player.score.totalScore}">0</span>
                </li>
            </ol>
            <a th:href="@{/leaderboard}" class="button-link">View Full Leaderboard</a>
        </div>

        <!-- Actions Pane -->
        <div class="actions">
            <h2>Lobby Actions</h2>
            <a th:href="@{/lobby/create-lobby}" class="button-link">Create New Lobby</a>

            <a th:href="@{/user/change-username}" class="button-link">Change Username</a>

            <!-- Button to open lobby modal -->
            <button id="openLobbyModalBtn">Join Lobby</button>

        </div>
    </div>
</div>

<!-- Lobby Modal Overlay -->
<div id="lobbyModal" class="modal hidden">
    <div class="modal-content">
        <button class="modal-close" id="modalCloseBtn" aria-label="Close modal">&times;</button>

        <div class="left-pane">
            <button id="publicTab" class="tab selected">Public</button>
            <button id="privateTab" class="tab">Private</button>
        </div>
        <div class="right-pane" id="modalRightPane">
            <!-- Content here dynamically rendered -->
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>

</body>
</html>
